body {
    background-color: #D6DCD7;
    color: #011627;
}

.container {
    background-color: #D6DCD7;
    color: #011627;
}

.jumbotron {
    background-color: #03CEA4;
    color: #FDFFFC;
}

#homeButton {
    background-color: #FB4D3D;
    color: #FDFFFC;
    border-style: none;
}

#homeButton:hover {
    background-color: rgb(201, 47, 33);
    color: #FDFFFC;
    border-style: none;
}

p {
    color: #011627;
}

a {
    color: #FB4D3D;
}

a:hover {
    color: rgb(201, 47, 33);
}

#submit {
    background-color: #FB4D3D;
    color: #FDFFFC;
    border-style: none;
}

#submit:hover {
    background-color: rgb(201, 47, 33);
    color: #FDFFFC;
    border-style: none;
}

#submit:active {
    background-color: rgb(201, 47, 33);
    color: #FDFFFC;
    border-style: none;
}

#results-modal {
    background-color: #FDFFFC;
    color: #03CEA4;
}

#closeButton {
    background-color: #FB4D3D;
    color: #FDFFFC;
    border-style: none;
}

#closeButton:hover {
    background-color: rgb(201, 47, 33);
    color: #FDFFFC;
    border-style: none;
}

#closeButton:active {
    background-color: rgb(201, 47, 33);
    color: #FDFFFC;
    border-style: none;
}

/* fixing the broken modal header? */
#modalTitle {
    display: inline;
    width: 100%;
    text-align: left;
}